{% extends 'cartwear/checkout/preview.html' %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
<div class="span6">
	<div class="sub-header">
		<h2>{% trans "Payment" %}</h2>
	</div>
	<div class="well well-success">
		<p>{% trans "Account allocations" %}</p>
		<ul>
		{% for code, amount in account_allocations.items %}
		<li>{{ amount|currency }} {% trans "from account with code" %} {{ code }}</li>
		{% endfor %}
		</ul>
		<div class="alert-actions">
			<a href="{% url 'checkout:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
		</div>
	</div>    
</div>
{% endblock payment_method %}
